.base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  background-color: #f0932b;
  border: 2pt solid #1c8d98;
  border-radius: 50%;
  font-size: 150%;
  font-weight: 600;
  color: white;
}
